# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Spring Boot
*.jar
*.war

# Logs
logs/
*.log

# IDE
.idea/
*.iml
out/

# OS
.DS_Store
Thumbs.db

# Env / Secrets
.env
.env.local
application-local.yml
